*{
    /*box-sizing: border-box;*/
   

}


/*-------------------encabezado/ nav-----------------------*/
.encabezado{
    width: 95%;
    margin: auto;
    background-color: #353a40;
    height: auto;
}
.encabezado ul li a{
    text-decoration: none;
    align-items: center;
    color: white;
    font-size: 20px;
    
}
.icono_toggler{
    color:#96c93e;
    background-color: white;
    font-size: medium;
}
.namePage{
    color: white !important;
    font-size: x-large !important;
    text-align: center !important;
    align-items: center !important;
}

.nav-link:hover{
    border-radius: 3px;
    border-bottom:1px solid white;
    color: white !important;
    
}
.ticket:hover{
    border-radius: 3px;
    border:1px solid #2aa444;
    color: #2aa444 !important;
}
/*-------------------cuerpo de informacion-----------------*/
.banner {
    height: 500px; 
    border: 1px solid black;
    margin: auto;
    width: 95%;
    background-image: url(./img/ba1.jpg);
    background-color: rgb(55, 55, 55);
    background-blend-mode: soft-light;
    justify-content: right;
    background-size: cover;
    background-position: center;
    padding: 1px;
    
}

.banner div{
    color: white;
}
.caja_banner{
    width: 50%;
    height: 150px;
    justify-content:right;
    text-align: right;
    margin: 10px 0 0 50%;
    padding-right: 30px;
}
.banner p{
    margin-top: 80px ;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: auto;
    
}
.btn_orador{
    border-radius: 3px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    font-size: large;
}
.btn_orador:hover{
    background-color: white;
    border: 1px solid #353a40;
    color: #353a40; 
}
.contenedor_infoI{
    width: 70%;
    height: auto;
    margin: auto; 
    box-sizing: content-box;
}
.contenedor_infoI h5 {
    color: #353a40;;
}

.contenedor_infoII{
    width: 95%;
    height: auto;
    margin: auto; 
    color: white;
}
.contenedor_info div {
    padding: 1px;
}
.contenedor_info div p, h5 {
    padding: 10px;
}
.btn_conocenos{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin-left:10px ;  
    align-items: center;  
}
.btn_conocenos:hover{
    background-color: white;
    border: 1px solid #353a40;
    color: #353a40; 
}

.bs_as{
    background-color: #353a40;
}

/*------------------formulario----------------------------*/
.contenedor_form{
    width: 65%;
    height: auto;
    margin: auto;
}
.btn_Color{
    background-color: #96c93e;
    color: white;
}
.text_form{
    margin: auto;
    text-align: center;
}



/*--------------------------Footer-------------------------*/
.contenedor_Footer{
    width: 95%;
    height: 70px;
    margin: auto;
    background-color: #1d506d;
    border-radius: 3px;
}

.footer_List{
    width: 95%;
    display: flex;
    margin: auto;
    padding: 5px;
    justify-content:space-around;
    align-items:center;
   
}
.footer_List li{
    display: inline-block;
    text-align: center;    
    text-decoration: none;
    padding: 10px;
    color: white;
    
}